.news_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.news_title {
  font-size: 4.3vw;
  text-align: center;
  color: #282529;
  margin: 4.3vw 0 1vw;
  width: 100%;
}

.news_cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.news_line {
  margin: 1.6vw 0;
  border: none;
  background-color: #cabf9a;
  height: 2px;
  width: 50%;
}
